.custom-scroll::-webkit-scrollbar {
  width: 8px;
  padding: 5px;
  border-radius: 3px;
  background-color: rgba(30, 33, 35, 0.477);
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgb(27, 29, 31);
  border-radius: 3px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: rgb(27, 29, 31);
}

.custom-scroll::-webkit-scrollbar-track {
  background-color: transparent;
}
