.custom-scroll::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(79, 84, 92, 0.6);
  border-radius: 3px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: rgba(79, 84, 92, 0.8);
}

.custom-scroll::-webkit-scrollbar-track {
  background-color: transparent;
}
