.custom-scroll::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgb(27, 29, 31);
  border-radius: 3px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: rgb(27, 29, 31);
}

.custom-scroll::-webkit-scrollbar-track {
  background-color: transparent;
}
